.card {
  min-width: 18rem;
  max-width: 22rem;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin: 20px;
}

p {
  margin-bottom: 1rem;
}

h5 {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
}

.card-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, p, div, form, input, label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
