.card {
  min-width: 18rem;
  max-width: 22rem;
}

h1 {
  text-align: center;
  margin: 20px;
}

.form-group input {
  width: 100%;
}

.card-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
